/* Set box-sizing to border-box for all elements */
* {
    box-sizing: border-box;
  }
  


  fieldset {
    border: none;
    border-radius: 10px;
    background-color: #e6e6e6;
    /* other styles */
  }

  legend {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #3d5afe;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    max-width: 100%;
    border: none;
    text-align: center;
    margin-bottom: 20px;
}
  /* Use a modern sans-serif font for the entire page */
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Add some padding and a background color to the page */
  body {
    padding: 40px;
    background-color: #f2f2f2;
  }
  
  /* Add a white background and a drop shadow to the form */
  form {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
  }
  


  /* Style the page title */
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
  }


  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
  }

  h4 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
  }
  
  .form-header {
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    margin-right: 20px;
  }
  
  .logo {
    max-height: 200px; /* adjust as needed */
    max-width: 100%;
    display: block;
    margin-left: auto;
  }

  .logo2 {
    max-height: 150px; /* adjust as needed */
    max-width: 100%;
    display: flex;
    margin-left: auto;
  }
  
  .heading-container {
    flex: 1;
  }
  
  .form-header h1,
  .form-header h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  

  /* Style the form labels */
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Style the form fields */
  input[type="number"],
  select {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    background-color: #f2f2f2;
  }
  
  select:focus,
  input[type="number"]:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the submit button */
  button[type="submit"] {
    display:block;
    width: 50%;
    padding: 20px;
    background-color: #08954ed5;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    margin-top: 1%;
  }
  
  button[type="submit"]:hover {
    background-color: #08954efd;
  }
  
  /* Style the error message */
  #errorMsg {
    font-size: 16px;
    font-weight: bold;
    color: red;
    margin-top: 15px;
  }
  
  /* Style the select dropdowns */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%239C92AC'%3E%3Cpath d='M7.41,8.59L12,13.17l4.59-4.58L18,10l-6,6l-6-6L7.41,8.59z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  /* Style the VIA Rail section */
  #viaRailFields {
    display: none;
  }
  
  #viaRailFields label {
    margin-top: 20px;
  }
  
  #viaRailFields select {
    margin-bottom: 20px;
  }
  
  /* Add responsive styles */
  @media screen and (max-width: 768px) {
    /* Center the form on smaller screens */
    form {
      max-width: 500px;
      margin: 0 auto;
    }
  
    /* Reduce the font size of the page title */
    h1 {
      font-size: 28px;
    }
  
    /* Reduce the font size of the form labels and fields */
    label, input[type="number"], select {
      font-size: 14px;
    }
  
    /* Adjust the margin of the form fields */
    input[type="number"], select {
      margin-bottom: 10px;
    }
  
    /* Adjust the padding of the submit button */
    button[type="submit"] {
      padding: 8px;
    }
  }

  input[type="text"][readonly] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    background-color: #f2f2f2;
}

input[type="text"][readonly]:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


input[type="email"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  background-color: #f2f2f2;
}

input[type="email"]:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  background-color: #f2f2f2;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style the date input */
input[type="date"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  background-color: #f2f2f2;
}

input[type="date"]:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#spo1total, #spo2total, #spo3total, #spo4total,#spo5total, #spo6total {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  background-color: #a1b0a8;
}


#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f2f2f2;
}


.summary-box {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(94, 90, 90, 0.941);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
  }
  
  .summary-item {
    flex-basis: 30%;
    text-align: center;
  }
  
  .summary-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .summary-item p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }

  .spoSection {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

#form-content {
  display: block;
  /* Add your desired styles for the form content */
}
